.widget-container {
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  white-space: nowrap;
  text-align: center;
  z-index: 1000; }
  .widget-container .widget-toast {
    position: relative;
    display: inline-block;
    line-height: 40px;
    height: 40px;
    text-align: center;
    border-radius: 0 0 4px 4px;
    background: #fff;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.12); }
    .widget-container .widget-toast .tool {
      cursor: pointer;
      color: #78a2de; }
    .widget-container .widget-toast .undo {
      margin: 0 8px;
      cursor: pointer;
      color: #dd5656; }
    .widget-container .widget-toast .info {
      background: #dde5f2;
      border: 1px solid #a4c0e8;
      box-shadow: 1px 0px 1px #d3d3d3;
      padding: 0 18px; }
      .widget-container .widget-toast .info .icon-hint {
        display: none; }
    .widget-container .widget-toast .test {
      display: block;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAAgVBMVEUAAABGuV1DvFE9wlVGuVFDvFlCvVVAv1JDvFVCvVRCvVNBvlRCvVRDv1VBvlVBvlNDv1VCvVRDvlVCv1RDvlRCvVVCvlRCvlRCvlVCvlRCv1RCv1VCvVRCvlRCvlNCvlRCvlRCvlRCvlRCvlRCvlRCvlRCvlRCvlRCvlRCvlT///8Pj0OkAAAAKXRSTlMACxMVFhc2ODk6TVJVV1pub3B+f4KvvcDBxcbKztHf4+nv8PHy8/T1/gbAVXMAAAABYktHRCpTvtSeAAAAdklEQVQI112PSQKCMAADo8V9Q4tr2bRFOv//oIeCB3JKTjORpMy6tnUXI0nS8QsA3UGS9pEhcScZzz/vuYqxh22NVTUsvzlDqUDzAvw6j+DV8Vw8+KzyCARVcDfXZR4BShXAbXZKNJtAdRxBE42ppJRZ1/fpwg/8iRXN0Ov3WwAAAABJRU5ErkJggg==); }
    .widget-container .widget-toast .icon-hint {
      display: none; }
    .widget-container .widget-toast .success,
    .widget-container .widget-toast .error,
    .widget-container .widget-toast .warning {
      padding: 0 20px; }
      .widget-container .widget-toast .success .icon-hint,
      .widget-container .widget-toast .error .icon-hint,
      .widget-container .widget-toast .warning .icon-hint {
        width: 14px;
        height: 14px;
        position: absolute;
        top: 13px;
        left: 28px;
        display: block; }
      .widget-container .widget-toast .success .hint-text,
      .widget-container .widget-toast .error .hint-text,
      .widget-container .widget-toast .warning .hint-text {
        color: #888;
        margin-left: 30px; }
    .widget-container .widget-toast .icon-success {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAAgVBMVEUAAABGuV1DvFE9wlVGuVFDvFlCvVVAv1JDvFVCvVRCvVNBvlRCvVRDv1VBvlVBvlNDv1VCvVRDvlVCv1RDvlRCvVVCvlRCvlRCvlVCvlRCv1RCv1VCvVRCvlRCvlNCvlRCvlRCvlRCvlRCvlRCvlRCvlRCvlRCvlRCvlRCvlT///8Pj0OkAAAAKXRSTlMACxMVFhc2ODk6TVJVV1pub3B+f4KvvcDBxcbKztHf4+nv8PHy8/T1/gbAVXMAAAABYktHRCpTvtSeAAAAdklEQVQI112PSQKCMAADo8V9Q4tr2bRFOv//oIeCB3JKTjORpMy6tnUXI0nS8QsA3UGS9pEhcScZzz/vuYqxh22NVTUsvzlDqUDzAvw6j+DV8Vw8+KzyCARVcDfXZR4BShXAbXZKNJtAdRxBE42ppJRZ1/fpwg/8iRXN0Ov3WwAAAABJRU5ErkJggg==); }
    .widget-container .widget-toast .icon-error {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAAjVBMVEUAAADVVVXXUVHZWVnbVVXcUVHgUlLdVVXcVVXdWFjdVVXdWFjeVlbdV1feV1fcVVXdVVXdV1feVVXcV1fdVlbdVVXdVlbeVlbdVVXdVlbdVlbdVlbdVlbdVVXdVlbeVVXdVVXeV1fdVlbdVlbdVlbdVlbdVlbdVlbdVlbdVlbdVlbdVlbdVlbdVlb////5STxGAAAALXRSTlMABhMUFRYZLTM0PENNUlVXWltsbXF+f4K8vb7BxMXKztHd3t/p7u/x8vP09f7MnR8cAAAAAWJLR0QuVNMQhwAAAHxJREFUCNddz0kWgjAABNGWyXnGgKKACCRI6v7Xc6HPBXWCX5IUm7Jty0skSdLhDQDDXpJ2nl9+K0WWf32gDDg+wG1eYFQDRXJ3qxSo5ACKZJECWA0A3XyWAzjVQLc8XcMcqJQB67PnFj7BKLLQeKCBPpgypkgpNuU4fhc+qgIXe0tUVzIAAAAASUVORK5CYII=); }
    .widget-container .widget-toast .icon-warning {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAASFBMVEUAAADyvGvztm3zuWjvu2rwvWnwvGruu2nvvGnvvWjvvGrvvGnvvGnvvGnvvGnvvGnvvGnvvGnvvGnvvGnvvGnvvGnvvGn///99cvzGAAAAFnRSTlMAExUWUlVXWn5/gsrO0env8fLz9PX+IYgBNQAAAAFiS0dEFwvWmI8AAABTSURBVAjXXY9bDoAgDARXfFFQEITe/6iGamLT+Wg6SZPuAsBMMaXoHYT9ZqFuw9bOH30B3CUrxsgTAv/KhFPrgaq1WDXHgRVkH5kYNqRUaO2t8ADlJAv/GYUQEAAAAABJRU5ErkJggg==); }
    .widget-container .widget-toast .success .icon-success {
      display: block; }
    .widget-container .widget-toast .success .icon-error {
      display: none; }
    .widget-container .widget-toast .success .icon-warning {
      display: none; }
    .widget-container .widget-toast .error .icon-success {
      display: none; }
    .widget-container .widget-toast .error .icon-error {
      display: block; }
    .widget-container .widget-toast .error .icon-warning {
      display: none; }
    .widget-container .widget-toast .warning .icon-success {
      display: none; }
    .widget-container .widget-toast .warning .icon-error {
      display: none; }
    .widget-container .widget-toast .warning .icon-warning {
      display: block; }
